/* Use mostly percentage and vh/vw in order to fix size depending on screen */

* {
  margin:0;
  padding:0;
  border:0;
}

html {
  scroll-behavior: smooth;
}

ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-image: url("images/gradient.png");
}

li {
  float: left;
  font-size: large;
  font-family:segoe UI;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vh 3vw;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
  color: #999
}

#pfp{
  border-radius: 50%;
  margin-top: 30vh;
}

div.intro{
  width: 100%;
  height: 100vh;
  /* background-color: tomato; */
  background-image: url("images/giphy.gif");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family:sans-serif;
}

a.links, a.links:hover{
  margin-right: 0.3vh;
  color: #999;
}

#dan{
  margin:0;
  text-align: center;
  font-size: xxx-large;
  color: #999
}

#about{
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
  color: #1c1c1c;
  background-color: rgb(54, 190, 227,0.05);
  border-top: 1px solid #f0f0f0;
}

.aboutMe{
  width:800px;
  border-radius: 4px;
	height:33vh;
  margin-top: 4vh;
  margin-bottom: 7vh;
  overflow: auto;
  text-align: center;
}

.aboutDesc{
  font-size: 22px;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.professional{
  margin-left: 4vw;
  box-shadow: 5px 6px rgb(10, 162, 255, 0.2);
  border: 1px solid rgb(10, 192, 242, 0.05);
  background-color: rgb(10, 192, 242, 0.1);
}

.personal{
  margin-left: 52vw;
  background-color: rgb(255,0,0, 0.2);
  border: 1px solid rgb(255,0,0, 0.1);
  box-shadow: 5px 6px rgb(255,0,0, 0.3);
}

h1{font-size: 60px;margin-top: 3vh;}

#projects{
  width: 100%;
  height: 110vh;
  text-align: center;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  color: #1c1c1c;
}

.box{
  width:950px;
  border-radius: 4px;
	height:40vh;
  margin: auto;
  margin-bottom: 4vh;
  overflow: hidden;
}

h1.project{
  padding-top: 2vh;
  display: inline-block;
  text-align: center;
  float: none;
}

.descript{
  margin-bottom: 3vh;
}


.description{
  margin:auto;
  overflow: auto;
}

div.proj{
  width: 400px;
  height: 400px;
  margin: -2px;
  margin-right: 5px;
  background-size: auto;
  background-repeat: no-repeat;
  float: left;
}

.pygame{
  background-image: url("images/titleScreen.png");
}

.wip{
  background-image: url("images/WIP.png");
  padding-right: 10px;
}

.space{
  box-shadow: 5px 6px rgb(10, 162, 255, 0.2);
  border: 1px solid rgb(10, 192, 242, 0.05);
  background-color: rgb(10, 192, 242, 0.1);
}

.progress{
  background-color: rgb(255,0,0, 0.2);
  border: 1px solid rgb(255,0,0, 0.1);
  box-shadow: 5px 6px rgb(255,0,0, 0.3);
}

.pygame:hover{
  transition: 500ms;
  background-image: url("images/game.png");
  border-right: 1px fill black;
}

.title{
  font-size: 37px;
  margin-top: 2vh;
}

.titleDescription{
  font-size: 20px;
  margin-right: 1.4vw;
  margin-left: 1.6vw;
  margin-top: 2vh;
}


#skills{
  width: 100%;
  height: 50vh;
  text-align: center;
  color: #1c1c1c;
  background-color: #fafafa;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.skill{
  margin-top: 0;
  padding-top: 5vh;
}

.language{
  font-size: 20px;
  display: inline-block;
  padding: 4px;
  margin-right: 0.7vw;
  margin-left: 0.7vw;
}

.spoken{
  background-color: rgb(255,0,0, 0.2);
  border: 1px solid rgb(255,0,0, 0.1);
  box-shadow: 1.5px 2px rgb(255,0,0, 0.7);
}

.coding{
  background-color: rgb(0,0,255, 0.1);
  border: 1px solid rgb(0,0,255, 0.1);
  box-shadow: 1.5px 2px rgb(0,0,255, 0.5);
}

#accomplishments{
  width: 100%;
  height: 33vh;
  text-align: center;
  color: #1c1c1c;
  border-bottom: 1px solid #f0f0f0;
  background-color: rgb(54, 190, 227,0.05);
}


h2{
  margin-top: 4vh;
  font-size: 35px;
}

.accomp{
  width:7%;
}

.acc{
  display: inline-block;
  padding: 5px;
  font-size: 32px;
  margin-bottom: 4vh;
  margin-right: 1.5vh;
  margin-left: 1.5vh;
}

.val{
  margin-top: 4vh;
  background-color: rgb(0,0,255, 0.1);
  border: 1px solid rgb(0,0,255, 0.1);
  box-shadow: 2.5px 3px rgb(0,0,255, 0.5);
}

.dean{
  background-color: rgb(255,0,0, 0.2);
  border: 1px solid rgb(255,0,0, 0.1);
  box-shadow: 2.5px 3px rgb(255,0,0, 0.7);
}

footer{
  /* border-top: 1px solid #f6f6f6; */
  background-color: rgb(54, 190, 227,0.05);
  height: 6vh;
  color: #1c1c1c;
  /* font-family: yellowtailregular; */
}

.foot{
  padding-top: 2.5vh;
  margin-left: 1vw;
}

.brk{
  border: none;
  margin: auto;
  margin-top: 0.5vh;
  border-bottom: 1px solid #7778;
}

.desc{
  width: 6%;
}

.code{
  width: 2%;
  margin-bottom:3vh;
}

.me{
  width: 3%;
}

@media (max-width: 1710px) {
  .personal, .professional{
    width: 60vw;
    height: 36.5vh;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1100px) {
  div.proj {
    display: none;
  }
  .box{
    width:60vw;
    height: 40vh;
    overflow: auto;
  }

  .accomplish{
    font-size: 40px;
  }
}

@media (max-height: 740px) {
  .wrapper{
    margin-right: 3vw;
    margin-left: 6vw;
    display: inline-block;
  }

  #skills{
    margin: auto;
    height: 60vh;
  }

  #accomplishments{
    height: 40vh;
  }

  .acc{
    font-size: 25px;
  }
}
